html{font-family: Calibri;}
div{
    box-sizing: border-box;
    height: 500px; 
    width: 1087px;
    background-color: green;
    position:relative;
}
div::before{
    box-sizing: border-box;
    content: '';
    height: 150px;
    width: 150px;
    background-color:red;
    position: absolute;
    left:48%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}